<% content_for :page_title do %>
  Events
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Date/Time</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <th><%= link_to event.location, event %></th>
        <th><%= event.occurs_at %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= new_event_path %>" class="btn btn-primary">Create Event</a>
